<% form_for(deliverable, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %>
  <%= f.hidden_field :person_id %>
  <p>
    <%= f.label :title%><br />
    <%= f.text_field :title %>
  </p>
    <p>
      <%= f.label :team_id, "Course" %>
      <%= select("deliverable", "team_id", @teams_courses_select)%>
    </p>
    <p>
      <%= f.label :task_number, "Task Number" %>
      <%= select("deliverable", "task_number", (1..20).to_a , {:include_blank => "None"}) %>
    </p>
    <p>
      <%= f.label :comments%><br/>
      <%= f.text_area :comments%> 
    </p>


    <% if @current_user.is_teacher %>
    <p>
      <%= "Feedback #{deliverable.feedback_file_name} is currently attached." if deliverable.feedback%><br/>
      <%= f.label :feedback%><br/>
      <%= f.file_field :feedback%>
    </p>
    <% elsif @current_user.is_student %>
    <p>
      <%= "Deliverable #{deliverable.deliverable_file_name} is currently attached." if deliverable.deliverable%><br/>
      <%= f.label :deliverable%><br/>
      <%= f.file_field :deliverable%>
    </p>
    <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

